<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define VersionNumber="!(bind.FileVersion.DailyArenaDeckAdvisorExe)" ?>
	<?define UpgradeCode="db23b1b4-1446-4001-a525-0264e1abc4eb" ?>
	<?define InfoURL="https://clans.dailyarena.com/" ?>

	<?if $(var.Platform) = x64 ?>
		<?define Win64 = "yes" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
		<?define DailyArenaDeckAdvisorExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\DailyArenaDeckAdvisor.exe" ?>
		<?define NewtonsoftJsonDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Newtonsoft.Json.dll" ?>
		<?define SerilogDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Serilog.dll" ?>
		<?define SerilogFormattingDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Serilog.Formatting.Compact.dll" ?>
		<?define SerilogFileDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Serilog.Sinks.File.dll" ?>
		<?define DailyArenaDeckAdvisorLauncherExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisorLauncher\x64\Release\DailyArenaDeckAdvisorLauncher.exe" ?>
		<?define DailyArenaDeckAdvisorUpdaterExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisorUpdater\x64\Release\DailyArenaDeckAdvisorUpdater.exe" ?>
		<?define DailyArenaDeckAdvisorConfigSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\DailyArenaDeckAdvisor.exe.config" ?>
		<?define DailyArenaCommonDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\DailyArena.Common.dll" ?>
		<?define DailyArenaEnResourceDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\en\DailyArenaDeckAdvisor.resources.dll" ?>
		<?define DailyArenaRuResourceDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\ru-RU\DailyArenaDeckAdvisor.resources.dll" ?>
		<?define XceedToolkitDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Xceed.Wpf.Toolkit.dll" ?>
		<?define XceedAvalonDockDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Xceed.Wpf.AvalonDock.dll" ?>
		<?define XceedAeroDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Xceed.Wpf.AvalonDock.Themes.Aero.dll" ?>
		<?define XceedMetroDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Xceed.Wpf.AvalonDock.Themes.Metro.dll" ?>
		<?define XceedVS2010DllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x64\Release\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" ?>
	<?else ?>
		<?define Win64 = "no" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
		<?define DailyArenaDeckAdvisorExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\DailyArenaDeckAdvisor.exe" ?>
		<?define NewtonsoftJsonDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Newtonsoft.Json.dll" ?>
		<?define SerilogDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Serilog.dll" ?>
		<?define SerilogFormattingDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Serilog.Formatting.Compact.dll" ?>
		<?define SerilogFileDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Serilog.Sinks.File.dll" ?>
		<?define DailyArenaDeckAdvisorLauncherExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisorLauncher\x86\Release\DailyArenaDeckAdvisorLauncher.exe" ?>
		<?define DailyArenaDeckAdvisorUpdaterExeSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisorUpdater\x86\Release\DailyArenaDeckAdvisorUpdater.exe" ?>
		<?define DailyArenaDeckAdvisorConfigSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\DailyArenaDeckAdvisor.exe.config" ?>
		<?define DailyArenaCommonDllSourcePath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\DailyArena.Common.dll" ?>
		<?define DailyArenaEnResourceDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\en\DailyArenaDeckAdvisor.resources.dll" ?>
		<?define DailyArenaRuResourceDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\ru-RU\DailyArenaDeckAdvisor.resources.dll" ?>
		<?define XceedToolkitDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Xceed.Wpf.Toolkit.dll" ?>
		<?define XceedAvalonDockDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Xceed.Wpf.AvalonDock.dll" ?>
		<?define XceedAeroDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Xceed.Wpf.AvalonDock.Themes.Aero.dll" ?>
		<?define XceedMetroDllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Xceed.Wpf.AvalonDock.Themes.Metro.dll" ?>
		<?define XceedVS2010DllPath = "$(var.ProjectDir)..\DailyArenaDeckAdvisor\x86\Release\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" ?>
	<?endif ?>

	<Product Id="*" Name="!(loc.ApplicationName)" Language="!(loc.Language)" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerFullName)" UpgradeCode="$(var.UpgradeCode)">
		<Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine"  Description="!(loc.ProductDescription)" Comments="!(loc.Comments) $(var.VersionNumber)" />

		<WixVariable Id="WixUILicenseRtf" Value="dummy" />
		
		<WixVariable Id="WixUIBannerBmp" Value="images\BannerTop.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="images\Dialog.bmp" />
		
		<Icon Id="Icon.exe" SourceFile="images\app.ico" />
		
		<Property Id="ARPPRODUCTICON" Value="Icon.exe" />
		<Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		
		<MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />
		
		<InstallExecuteSequence>
			<!-- Determine the install location after the install path has been validated by the installer -->
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
		</InstallExecuteSequence>
		
		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
		
		<Condition Message="!(loc.OS2Old)">
			<![CDATA[Installed OR (VersionNT >= 600)]]>
		</Condition>
		
		<?if $(var.Platform) = x64 ?>
			<Condition Message="!(loc.x86VersionRequired)">
				<![CDATA[VersionNT64]]>
			</Condition>
		<?endif?>
		<?if $(var.Platform) = x86 ?>
			<Condition Message="!(loc.x64VersionRequired)">
				<![CDATA[NOT VersionNT64]]>
			</Condition>
		<?endif?>
		
		<CustomAction Id='SaveCmdLineValueINSTALLDIR' Property='CMDLINE_INSTALLDIR' Value='[INSTALLDIR]' Execute='firstSequence' />
		<CustomAction Id='SetFromCmdLineValueINSTALLDIR' Property='INSTALLDIR' Value='[CMDLINE_INSTALLDIR]' Execute='firstSequence' />
		<InstallUISequence>
			<Custom Action='SaveCmdLineValueINSTALLDIR' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueINSTALLDIR' After='AppSearch'>
				CMDLINE_INSTALLDIR
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action='SaveCmdLineValueINSTALLDIR' Before='AppSearch' />
			<Custom Action='SetFromCmdLineValueINSTALLDIR' After='AppSearch'>
				CMDLINE_INSTALLDIR
			</Custom>
		</InstallExecuteSequence>
	
		<Property Id="INSTALLDIR">
			<RegistrySearch Id="DetermineInstallLocation" Type="raw" Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="InstallLocation" />
		</Property>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="ProgramFilesHK" Name="!(loc.ManufacturerName)">
					<Directory Id="INSTALLDIR" Name="!(loc.ApplicationName)">
						<!-- Installation directory as a component so it can be emptied during uninstall (by default files added by someone other than Windows Installer are not removed) -->
						<Component Id="INSTALLDIR_comp" Guid="e057f927-93d3-4ef4-97ef-5e334b26094c">
							<CreateFolder />
							<RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
						</Component>

						<!-- Main program file -->
						<Component Id="DailyArenaDeckAdvisor.exe_comp" Guid="*" Win64="$(var.Win64)">
							<File Source="$(var.DailyArenaDeckAdvisorExeSourcePath)" Id="DailyArenaDeckAdvisorExe" KeyPath="yes" />
						</Component>
						
						<!-- Other Files -->
						<Component Id="DailyArenaDeckAdvisorLauncher.exe_comp" Guid="4ba3c231-a45f-451d-896b-526ac73811c9" Win64="$(var.Win64)">
							<File Source="$(var.DailyArenaDeckAdvisorLauncherExeSourcePath)" Id="DailyArenaDeckAdvisorLauncherExe" KeyPath="yes" />
						</Component>
						<Component Id="DailyArenaDeckAdvisorUpdater.exe_comp" Guid="314d15de-e70a-496b-8623-ea03bc6ec145" Win64="$(var.Win64)">
							<File Source="$(var.DailyArenaDeckAdvisorUpdaterExeSourcePath)" Id="DailyArenaDeckAdvisorUpdaterExe" KeyPath="yes" />
						</Component>
						<Component Id="Newtonsoft.Json.dll_comp" Guid="47a23765-4657-4a16-a04f-8f4705a7271f" Win64="$(var.Win64)">
							<File Source="$(var.NewtonsoftJsonDllSourcePath)" Id="NewtonsoftJsonDll" KeyPath="yes" />
						</Component>
						<Component Id="Serilog.dll_comp" Guid="d1b1dbe2-9c21-4bba-9384-533c9f293169" Win64="$(var.Win64)">
							<File Source="$(var.SerilogDllSourcePath)" Id="SerilogDll" KeyPath="yes" />
						</Component>
						<Component Id="Serilog.Formatting.Compact.dll_comp" Guid="27570ca2-866e-487d-87dc-9723e3e912e9" Win64="$(var.Win64)">
							<File Source="$(var.SerilogFormattingDllSourcePath)" Id="SerilogFormattingDll" KeyPath="yes" />
						</Component>
						<Component Id="Serilog.Sinks.File.dll_comp" Guid="1e1fb3b3-b723-49ca-b5a4-d1958cd6874b" Win64="$(var.Win64)">
							<File Source="$(var.SerilogFileDllSourcePath)" Id="SerilogFileDll" KeyPath="yes" />
						</Component>
						<Component Id="DailyArenaDeckAdvisor.exe.config_comp" Guid="0d4c4d74-501d-42fd-966b-e9cd4a2b74d2" Win64="$(var.Win64)">
							<File Source="$(var.DailyArenaDeckAdvisorConfigSourcePath)" Id="DailyArenaDeckAdvisorConfig" KeyPath="yes" />
						</Component>
						<Component Id="DailyArena.Common.dll_comp" Guid="6f52a1fc-e8f4-4396-ac4d-4479cf383087" Win64="$(var.Win64)">
							<File Source="$(var.DailyArenaCommonDllSourcePath)" Id="DailyArenaCommonDll" KeyPath="yes" />
						</Component>
						<Component Id="Xceed.Wpf.Toolkit.dll_comp" Guid="192d8842-ce93-4f2a-9099-77311dde31fc" Win64="$(var.Win64)">
							<File Source="$(var.XceedToolkitDllPath)" Id="XceedToolkitDll" KeyPath="yes" />
						</Component>
						<Component Id="Xceed.Wpf.AvalonDock.dll_comp" Guid="28a3947c-5353-4e8c-86bd-c95a34b3c857" Win64="$(var.Win64)">
							<File Source="$(var.XceedAvalonDockDllPath)" Id="XceedAvalonDockDll" KeyPath="yes" />
						</Component>
						<Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll_comp" Guid="294a418f-4683-43ee-8b2f-cb17004e9d60" Win64="$(var.Win64)">
							<File Source="$(var.XceedAeroDllPath)" Id="XceedAeroDll" KeyPath="yes" />
						</Component>
						<Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll_comp" Guid="896a0536-3af5-46bd-8353-832725d5c79e" Win64="$(var.Win64)">
							<File Source="$(var.XceedMetroDllPath)" Id="XceedMetroDll" KeyPath="yes" />
						</Component>
						<Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll_comp" Guid="d26fdde7-b4ce-4a13-bde3-08217fe701d4" Win64="$(var.Win64)">
							<File Source="$(var.XceedVS2010DllPath)" Id="XceedVS2010Dll" KeyPath="yes" />
						</Component>

						<!-- language resource files that go in subfolders -->
						<Directory Id="enResourceFolder" Name="en">
							<Component Id="en_DailyArenaDeckAdvisor.resource.dll_comp" Guid="d16f81d1-15e8-4b8a-9244-139a27b27f16" Win64="$(var.Win64)">
								<File Source="$(var.DailyArenaEnResourceDllPath)" Id="DailyArenaEnResourceDll" KeyPath="yes" />
							</Component>
						</Directory>
						<Directory Id="ruResourceFolder" Name="ru-RU">
							<Component Id="ru_RU_DailyArenaDeckAdvisor.resource.dll_comp" Guid="40cf52c8-7f77-4fe4-b0be-1e7175ff9d68" Win64="$(var.Win64)">
								<File Source="$(var.DailyArenaRuResourceDllPath)" Id="DailyArenaRuResourceDll" KeyPath="yes" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="DailyArena" />
				<Directory Id="DesktopFolder" Name="Desktop" />
			</Directory>

			<!-- Registry entries -->
			<Component Id="RegValInstallLocation_comp" Guid="4aeb589c-3ed1-400b-8104-477ad53957aa">
				<RegistryKey Root="HKLM" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)">
					<RegistryValue Name="InstallLocation" Value="[INSTALLDIR]" Type="string" KeyPath="yes" />
				</RegistryKey>
			</Component>
		</Directory>
	
		<Feature Id="Complete" Title="!(loc.ApplicationName)" Description="!(loc.FeatureCompleteDescription)" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
			<!-- A feature block for the main (GUI) program and all its dependencies -->
			<Feature Id="MainProgram" Title="!(loc.FeatureMainProgramTitle)" Description="!(loc.FeatureMainProgramDescription)" Level="1">
				<ComponentRef Id="INSTALLDIR_comp" />
				<ComponentRef Id="DailyArenaDeckAdvisor.exe_comp" />
				<ComponentRef Id="Newtonsoft.Json.dll_comp" />
				<ComponentRef Id="Serilog.dll_comp" />
				<ComponentRef Id="Serilog.Formatting.Compact.dll_comp" />
				<ComponentRef Id="Serilog.Sinks.File.dll_comp" />
				<ComponentRef Id="DailyArenaDeckAdvisorLauncher.exe_comp" />
				<ComponentRef Id="DailyArenaDeckAdvisorUpdater.exe_comp" />
				<ComponentRef Id="DailyArenaDeckAdvisor.exe.config_comp" />
				<ComponentRef Id="DailyArena.Common.dll_comp" />
				<ComponentRef Id="Xceed.Wpf.Toolkit.dll_comp" />
				<ComponentRef Id="Xceed.Wpf.AvalonDock.dll_comp" />
				<ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll_comp" />
				<ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll_comp" />
				<ComponentRef Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll_comp" />
				<ComponentRef Id="en_DailyArenaDeckAdvisor.resource.dll_comp" />
				<ComponentRef Id="ru_RU_DailyArenaDeckAdvisor.resource.dll_comp" />

				<!-- Registry entries -->
				<ComponentRef Id="RegValInstallLocation_comp" />
			
				<!-- Shortcuts -->
				<ComponentRef Id="ApplicationShortcut" />
				<ComponentRef Id="ApplicationShortcutDesktop" />
			</Feature>
		</Feature>
	
		<UI>
			<!-- Define the installer UI -->
			<UIRef Id="WixUI_HK" />
		</UI>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	</Product>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="55d52bf5-b6f6-4c59-8bd6-6f27cf4fcf99">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="DailyArenaDeckAdvisor" Description="Daily Arena Deck Advisor" Target="[INSTALLDIR]DailyArenaDeckAdvisorLauncher.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="4e9c950c-4c36-488d-a43f-4a01b126d903">
				<Shortcut Id="ApplicationDesktopShortcut" Name="DailyArenaDeckAdvisor" Description="Daily Arena Deck Advisor" Target="[INSTALLDIR]DailyArenaDeckAdvisorLauncher.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\!(loc.ManufacturerName)\InstalledProducts\!(loc.ApplicationName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
