<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<add key="BitmapScalingMode" value="Fant" />
		<!--<add key="BitmapScalingMode" value="HighQuality" />-->
		<!--<add key="BitmapScalingMode" value="Linear" />-->
		<!--<add key="BitmapScalingMode" value="LowQuality" />-->
		<!--<add key="BitmapScalingMode" value="NearestNeighbor" />-->
		<!--<add key="MTGALogFolder" value="" />-->
		<add key="UICulture" value="de-DE" />
	</appSettings>
</configuration>